html {
  background-image: url("/src/back.png");
  color: white;
  font-size: 48px;
}

@font-face {
  font-family: "catty";
  src: url("/public/default-font.ttf");
}

.App {
  text-align: center;
  font-family: "catty";
}

.button > * {
  font-family: "catty";
  font-size: 24px;
}

.button > *:hover {
  cursor: pointer;
}

.fact {
  font-size: 18px;
  color: palevioletred;
  margin-top: 30px;
}

.load {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
